[submodule "services/backend"]
	path = services/backend
	url = git@github.com:quintet-sdr/elect-gen-backend.git
[submodule "services/core"]
	path = services/core
	url = git@github.com:quintet-sdr/elect-gen-core.git
[submodule "services/frontend"]
	path = services/frontend
	url = git@github.com:quintet-sdr/elect-gen-frontend.git
