[submodule "services/backend"]
	path = services/backend
	url = git@gitlab.pg.innopolis.university:sdr-sum24/elect-gen-backend.git
[submodule "services/core"]
	path = services/core
	url = git@gitlab.pg.innopolis.university:sdr-sum24/elect-gen-core.git
[submodule "services/frontend"]
	path = services/frontend
	url = git@gitlab.pg.innopolis.university:sdr-sum24/elect-gen-frontend.git
